registry=https://pkgs.dev.azure.com/gauravshukla0811/_packaging/MyFeedForArtifacts/npm/registry/ 
                        
always-auth=true

; begin auth token
//pkgs.dev.azure.com/gauravshukla0811/_packaging/MyFeedForArtifacts/npm/registry/:username=gauravshukla0811
//pkgs.dev.azure.com/gauravshukla0811/_packaging/MyFeedForArtifacts/npm/registry/:_password=qxdgtinza37osdpl6kxqlaosvyaolgmkxk5hfdsok5zoqu3zmzha
//pkgs.dev.azure.com/gauravshukla0811/_packaging/MyFeedForArtifacts/npm/registry/:email=gaurav@gmail.com
//pkgs.dev.azure.com/gauravshukla0811/_packaging/MyFeedForArtifacts/npm/:username=gauravshukla0811
//pkgs.dev.azure.com/gauravshukla0811/_packaging/MyFeedForArtifacts/npm/:_password=qxdgtinza37osdpl6kxqlaosvyaolgmkxk5hfdsok5zoqu3zmzha
//pkgs.dev.azure.com/gauravshukla0811/_packaging/MyFeedForArtifacts/npm/:email=gaurav@gmail.com
; end auth token
